body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  /* Hide the scrollbar in Firefox */
  scrollbar-width: none;
  scrollbar-color: transparent transparent;

  /* Style the track (optional) */
  scrollbar-track-color: transparent;
}

main {
  height: calc(100vh - 99px)
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Hide the vertical scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* Hide the horizontal scrollbar (if needed) */
::-webkit-scrollbar-thumb:horizontal {
  width: 0;
}

/* Style the track (optional) */
::-webkit-scrollbar-track {
  background: transparent;
}

.form-control::placeholder {
  color: rgba(250, 250, 250, 0.6)
}

h1 {
  text-align: center;
}

.icon-btn {
  cursor: pointer;
}

.icon-btn:hover {
  color: rgba(250, 250, 250, 0.6)
}